/* RESPONSIVE DESIGN */

@media only screen and (min-width: 1000px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .full-width {
        width: 100%;
        float: left;
        background-color: #333;
        color: #fff;
        padding-bottom: 10px;
    }


    .main {
        width: 69%;
        float: left;
    }

    .menu {
        width: 25%;
        float: left;
    }

    .post {
        margin: 0 auto;
        width: 60%;
    }

    .page-content {
        width: 100%;
        float: left;
    }

    .spacer-4 {
        height: 100%;
        width: 4%;
        float: left;
    }

    .spacer-2 {
        height: 100%;
        width: 2%;
        float: left;
    }

    .full-width a {
        color: #fff;
    }

    .full-width a:hover {
        color: #777;
    }

    .full-width a:visited {
        color: #eee;
    }

    .pagination a {
        color: #666;
        text-decoration: none;
        font-size: 150%;

    }

    a {
        color: rgb(57, 57, 105);
    }

    a:hover {
        color: rgb(109, 96, 163);
    }


    .pagination a.active {
        color: white;
    }

    .tags-expo select,
    .tags-expo button {
        width: 97%;
        padding: 5px;
        margin: 5px;
    }
}

@media only screen and (max-width: 999px) {

    .full-width,
    .main,
    .menu,
    .page-content,
    .spacer-4,
    .spacer-2 {
        margin: 0 auto;
        width: 95%;
    }

    .full-width {
        color: #000;
        padding-bottom: 10px;
    }

    .post {
        margin: 0 auto;
        width: 90%;
    }

    a {
        color: #004;
        background-color: #fffcdb;
        padding: 3px;
    }

    a:visited {
        color: #002;
    }

    a:hover {
        background-color: #fcf9d7;
    }

    .tags-expo {
        margin-bottom: 45px;
    }

    .tags-expo select,
    .tags-expo button {
        width: 100%;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

}

/* MAIN */



body {
    background-color: #fff;
    overflow: auto;
}

p,
ul,
ol,
li {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
.site-nav {
    font-family: 'PT Serif', serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

blockquote {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 20px;
}

hr {
    border-top: 1px solid #bbb;
}

figcaption {
    text-emphasis: italic;
    text-align: center;
}

.site-title {
    font-size: 3em;
}

.site-nav {
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
}

.site-nav a {
    text-decoration: underline;
}

.tags-expo {
    text-align: justify;
    padding: 1px;
}

.date {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.center,
.post-meta {
    text-align: center;
}

.copyright {
    font-size: 130%;
}

.menu {
    font-size: larger;
}

.menu h2 {
    text-align: center;
}

.newsletter {
    width: 100%;
    margin-bottom: -30px;
}

.post p {
    font-size: 17px;
    font-family: 'PT Serif', serif;
}

.post-summary p {
    font-size: 19px;
    font-family: 'PT Serif', serif;
}

.post-summary hr {
    display: none;
}

.post-title {
    text-align: center;
    font-size: 250%;
}

.post-subtitle {
    margin-bottom: -10px;
    margin-top: -10px;
}

.post-meta {
    background-color: #fefff2;
    width: 70%;
    margin: 0 auto;
}

.pagination {
    font-weight: bold;
    font-size: 170%;
}

.pagination a:hover:not(.active) {
    background-color: #444;
}

.page_number {
    margin-top: 10%;
}

.quote {
    padding: 5px;
    width: 65%;
    margin: 0 auto;
}

.readmore {
    text-align: right;
    font-size: 18px;
}

.readmore a {
    font-family: 'Open Sans', sans-serif;
}