<div>
    <p class="site-nav">
        <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
        /
        <a href="{{ '/author' | prepend: site.baseurl | prepend: site.url }}">Author</a>
        /
        <a href="https://brennanbrown.ca">Portfolio</a>
        /
        <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">RSS</a>
        /
        <a href="{{ '/license' | prepend: site.baseurl | prepend: site.url }}">License
        </a>
    </p>
</div>
