<div class="menu">
  <h2>About Me</h2>
  <img src="/img/avatar.png" alt="Brennan's Face" height="150" width="150">
  <p>Hi, I'm Brennan. I'm a 24-year-old web developer and content strategist from Winnipeg, Manitoba and currently residing in
    Calgary, Alberta. My current main focuses in my writing include self-development, community, and my experiences with
    programming. </p>

  <br />

  <h2>Contact Me</h2>
  <p>Interested in having a chat? Feel free to shoot me a DM anytime on <a
      href="https://twitter.com/bkennethbrown/">Twitter.</a> I'm also always updating projects on <a
      href="https://github.com/brennanbrown/">GitHub</a> if you wanna follow me there!</p>

  <br />

  <h2 class="newsletter">Sign Up!</h2>
  <iframe src="https://brennan.substack.com/embed" width="100%" height="270" frameborder="0" scrolling="no" title="
  Substack Newsletter Sign-up Form"></iframe>

  <br />

  <h2>Tags</h2>
  <div class="tags-expo">
    <select aria-label="Jump to a tag" onchange="if(this.value){ window.location.href='{{ '/tagged' | prepend: site.baseurl | prepend: site.url }}#'+this.value; }">
      <option value="">Browse tags…</option>
      {% assign sorted_tags = (site.tags | sort:0) %}
      {% for tag in sorted_tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <option value="{{ t | slugify }}">{{ t }} ({{ posts | size }})</option>
      {% endfor %}
    </select>
    <p style="margin-top: 0.5rem;"><a href="{{ '/tagged' | prepend: site.baseurl | prepend: site.url }}">See full tags page →</a></p>
  </div>
</div>
